
.foots {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.navigate {
    background-color: #c0edff;
}

/* Overwrite PURECSS class */
.pure-menu-link {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    color: #0f4a61;
}
